@model NewPortfolio.Models.Article

@{
    ViewData["Title"] = $"Podčlánky článku: {Model.Description}";
    }

<section class="section-index">
    <div class="section-hero">
        <div class="account-layout-content">
            <div class="account-view">
               <div class="account-img">
                    <img src="@Model.ApplicationUser.Path" width="40" height="40" />
                </div>
                <div class="account-content">
                    <div>
                        <div class="account-nickname">
                            <a asp-action="AccountView" asp-controller="Account" asp-route-id="@Model.ApplicationUser.Id"> <h6>@Html.DisplayFor(model=>model.ApplicationUser.NickName)</h6></a>
                            <p><img class="img-comment" src="/images/email.png" /></p>
                        </div>
                    </div>
                    <div class="pf">
                        <a asp-action="ViewSendCredit" asp-controller="Account" asp-route-id="@Model.AppUserId">
                            @Model.ApplicationUser.Credit
                            <img src="/images/euro.png" />
                        </a>
                    </div>

                    <div>
                        <p>Příspěvky:@Model.ApplicationUser.CountPost</p>
                        <p>Registrován:@Model.ApplicationUser.DateOfRegister.ToString("dd.M.yyyy")</p>
                    </div>
                </div>
            </div>           
            <div class="account-text">
                <div>
                    @if (Model.Game is not null )
                    {
                        <a asp-action="GetArticle" asp-controller="Game" asp-route-id="@Model.GameId" class="btn-use btn-detail">
                                   @Model.Game?.GameName
                        </a>
                        
                    }
                    @if(Model.Genre is not null)
                    {
                       <a asp-action="ViewAllGenres" asp-controller="Genre" asp-route-id="@Model.GenreId" class="btn-use btn-detail">
                              @Model.Genre?.NameGenre
                          </a>
                    }
                   <hr />
                    <div>
                   @Html.DisplayFor(model => model.Content)
                    </div>
                 
                </div>
            </div>
        </div>
        <table>
            <thead>
                
            </thead>
            <tbody>
                @foreach (var item in Model.ArticlePosts)
                {
                     <div class="div-comment">
                          <div class="div-comment-first">
                            <h5><a asp-action="AccountView" asp-controller="Account" asp-route-id="@item.AppUserId">@item.UserName</a>  <a asp-action="Index"><img class="img-comment" src="/images/email.png"></a></h5>
                         
                            <div>
                               <p>@item.DateTime</p>

                            @if (User.IsInRole("admin"))
                            {
                                <div>
                                    <a asp-action="Delete" class="btn-use btn-danger" asp-controller="ArticlePosts" asp-route-id="@item.Id"><i class="ri-chat-delete-line"></i></a>
                                </div>
                                <div>
                                        <a asp-action="Edit" class="btn-use btn-danger" asp-controller="ArticlePosts" asp-route-id="@item.Id"><i class="ri-pencil-line"></i></a>
                                </div>
                            }
                            </div>
                       </div>
                       <div>
                            @item.Post
                            
                       </div>
                        
                    </div>
                }
            </tbody>
        </table>
        <div>
            <a class="btn-use btn-edit" asp-action="Index">Zpět</a>
            <a class="btn-use btn-succes" asp-action="Create" asp-controller="ArticlePosts" asp-route-id="@Model.Id">Přidat komentář</a>
        </div>
    </div>
</section>

