@model IEnumerable<NewPortfolio.Models.Article>

@using X.PagedList;
@using X.PagedList.Mvc.Core;



@{
    ViewData["Title"] = "Index";
}
<section class="section-index-articles">
    <div class="section-hero">
        <form asp-controller="Articles" asp-action="Index" method="get">
            <div>
                <select id="inputSearch" name="searchby">
                    <option selected value="">Vyhledat podle...</option>
                    <option value="title">Titulek</option>
                    <option value="description">Popisek</option>
                </select>
                <input name="searchfor" id="inputSearch"/>
                <button class="btn-use btn-edit" type="submit" id="inputSearch">Najít</button>
            <a class="btn-use btn-edit" type="button" asp-controller="Articles" asp-action="Index">Smazat</a>
            </div>
        </form>
        <div  class="articles">
            <table id="tblData" width="100%">
                <thead>
                    <tr class="articles-tr">
                        <th class="articles-th">
                            Popisek
                        </th>
                        <th class="articles-th">
                            Titulek
                        </th>
                        
                        <th class="articles-th">
                            Vytvořil
                        </th>
                        <th class="articles-th-article">
                            Obsah
                        </th>
                        @if (this.Context.User.IsInRole("admin"))
                        {
                            <th class="articles-th-btn">
                           </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                    <tr class="articles-tr-down">
                            <th>
                                <a class="text-decoration" asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem=>item.Description)</a>
                        </th>
                        <th>
                                @Html.DisplayFor(modelItem => item.Title)
                        </th>
                         <th >
                                <div class="account-view">
                                    <div class="account-img">
                                        <img src="@Html.DisplayFor(model=>item.ApplicationUser.Path)" width="40" height="40" />
                                    </div>
                                    <div class="account-content">
                                        <h6>@Html.DisplayFor(model=>item.ApplicationUser.NickName)</h6>
                                        <div class="pf">
                                            <a href="contact.html">@Html.DisplayFor(model=>item.ApplicationUser.Credit)</a>
                                            <img src="/images/euro.png" />
                                        </div>
                                        <div>

                                            <p>Příspěvky:@Html.DisplayFor(model=>item.ApplicationUser.CountPost)</p>
                                            <p>Register:@Html.DisplayFor(model=>item.DateOfRegister)</p>
                                        </div>
                                    </div>
                                </div>
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem=>item.Content)
                        </th>
               
                        @if (this.Context.User.IsInRole("admin"))
                        {
                            <th id="btn-hidden" class="nav-list-button">
                                    <a class="btn-use btn-danger  bt-size" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    <a class="btn-use btn-edit  bt-size" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            </th>
                        }
                    </tr>
                    }
               </tbody>
               </table>
            <a class="btn-use btn-succes" asp-action="Create">Vytvořit nový</a>
        </div>
        
       <div class="pagination">
        @Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page,
        searchfor = Context.Request.Query["searchfor"], searchby = Context.Request.Query["searchby"]}),
        
        new X.PagedList.Web.Common.PagedListRenderOptions {
            LiElementClasses = new string [] {"page-item"},
            PageClasses = new string [] {"page-link"}
        })
       </div>

    </div>
</section>
