@model IEnumerable<NewPortfolio.Models.Article>

@{
    ViewData["Title"] = "Index";
}

<section class="section-index">

    <div class="section-hero">

        <div class="articles">
            <table>
                <thead>
                    <tr class="articles-tr">
                        <th width="130px">
                            Článek
                        </th>
                        <th width="130px">
                            Titulek
                        </th>
                        
                        <th width="130px">
                            Vytvořil
                        </th>
                       
                        @if (this.Context.User.IsInRole("admin"))
                        {
                          <th width="120px">
                           </th>
                        }
                       

                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        

                    <tr class="articles-tr-down">
                            <th>
                                <a  asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem=>item.Description)</a>
                        </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.Title)
                        </th>
                       
                            <th >
                                @Html.DisplayFor(modelItem => item.NickName)
                        </th>

                      
                       
                                @if (this.Context.User.IsInRole("admin"))
                                {
                                     <th id="btn-hidden" class="nav-list-button">
                                          <a class="btn-use btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                          <a class="btn-use btn-edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                     </th>
                                }
                     

                    </tr>
                    }
               </tbody>
        </table>
            <a class="btn-use btn-succes" asp-action="Create">Vytvořit nový</a>

        </div>
    </div>
</section>