@model IEnumerable<NewPortfolio.Models.BuildPost>

@{
    ViewData["Title"] = "Index";
}
<section class="section-index-articles">
    <div class="section-hero">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BuildName)
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BuildName)
            </td>
            <td>
                            <a asp-controller="Builds" asp-action="Index" asp-route-id="@item.Id">Details</a>
                          @*  <a asp-controller="Builds" asp-action="Index" asp-route-id="@item.Id">Details</a>*@
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</section>